/************** galery ***********************/

.galery {
  background-color: $background-section;
}
.galery-link {
  display: block;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
}
.galery-container {
}
.galery-item-tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.galery-text {
  font-family: Roboto;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.galery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * $galery-item-gap);
  margin-top: calc(-1 * $galery-item-gap);
}
.galery-thumb img {
  display: block;
  max-width: 100%;
  height: auto;
}

.galery-thumb {
  position: relative;
  overflow: hidden;
}
