html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  display: inline-block;
  text-decoration: none;
}

h2,
h3 {
  color: $color-h;
}
ul {
  list-style: none;
}
*:focus {
  outline: none;
}

/* modificators */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
