$logo-color: #000000;
$brand-color: #3f51b5;
$backgound-navigation: #ffffff;
$backgound-hero: #2f303a;
$background-section: #ffffff;
$background-team: #f5f4fa;
$color-h1: #ffffff;
$color-h: #212121;
$color-logo: #2196f3;
$color-link-contact: #757575;
$footer-contacts: rgba(255, 255, 255, 0.6);
$advantages-thumb: #f5f4fa;
$galery-item-gap: 30px;
$gap50: 50px;
