footer {
  background-color: $backgound-hero;
  padding: 60px 0px 60px 0px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}
.logo-footer {
  color: $color-h1;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.footer-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $backgound-navigation;
  display: flex;
  flex-direction: column;
}

.footer-address a {
  color: $footer-contacts;
}
.footer-social-list {
  display: flex;
}

.footer-social-list .footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}
.footer-social-list > .team-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icon {
  fill: #ffffff;
}

.social-tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

/* ****************footer form*********** */

.footer-form-btn {
  display: inline-flex;
  height: 50px;
  margin-top: 34px;
}

.form-footer {
  display: flex;
}

.form-footer-lable {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.form-footer-input {
  margin-top: 20px;
  padding: 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 12px;
  border-radius: 4px;
  background-color: transparent;
  box-sizing: border-box;
  outline: none;
}

.form-footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.form-footer-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}
